<section class="short-link-form" style="padding-top: 55px; margin-left:auto; margin-right:auto; text-align:center;">
<%= form_for(@short_link, :url => {:action => 'create'}, :remote => true) do |f| %>
  <% if @short_link.errors.any? %>
    <section class="errors">
    <% @short_link.errors.full_messages.each do |msg| %>
      <p class="alert"><%= msg %></p>
    <% end %>
    </section>
  <% end %>
  <%= f.text_field :full_link, :style => "height:30px; width: 640px; font-size: 25px;" %><br />
  <p><%= f.submit "Shorten", :style => "height: 45px; background-color: #9B9B9B; color: #FCFCFC; font-size: 20px; font-weight: bold;" %></p><br />
<% end %>
</section>

<section id="short-link-display" style="padding-top: 45px; margin-left: auto; margin-right: auto; text-align: center; font-size: 48px; font-weight: bold;">
</section>

